.about_home{
    height: 60vh;
    border: 1px solid red;
    padding: 0px 200px;
}
.about_home h2{
    line-height: 1;
    color: #4099de;
}

.about_home_02{
    height: 50vh;
    background-color: #D3D3D3;
    padding: 0px 170px;
}
.mark_journey{
    height: 50vh;
}