.register{
    height: auto;
    background: #EEF1F4;
}
.form{
    margin: 50px 0px;
    padding: 50px;
    background: #FFFFFF;
    border-radius: 15px;

}
.sign_up_heading{
    font-size: 35px !important;
    font-weight: 400;
    line-height: 35px;
    color:#252d37;
 
}
.form_heading{
    font-size: 20px;
    font-weight: 800 !important;
    line-height: 25px;
   color: black;

}
.register_hr{
    color: #D8E3EC;
    width: 17%;
    border: 2px solid #EEF1F4;
}
.shadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}